@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-base-200 text-base-content print:bg-white print:text-base-100;
  }
}

@layer components {
  .h1 {
    font-size: clamp(2.3rem, 9vw, 5rem);
  }

  .h2 {
    @apply relative pr-4 pt-4;
    font-size: clamp(1.8rem, 8vw, 5rem);
  }

  .h2::after {
    content: '';
    @apply absolute right-0 h-3/4 w-1/5 border-r-8 border-t-8 border-secondary;
  }

  .h2::before {
    content: '';
    @apply absolute left-0 top-0 h-4 w-1/6 border-l-8 border-t-8 border-secondary;
  }

  @media print {
    .text-h2::after {
      display: none;
    }
  }

  .h3 {
    font-size: clamp(2.4rem, 7vw, 3.6rem);
  }
}
